.card {
  text-align: center;
}

.card-front {
  height: 100%;
  background-color: $card-front-background-color;
  position: relative;

  &.card-reverse {
    background-color: $card-front-reverse-background-color;
  }


  > .reading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.card-back {
  background-color: $card-back-background-color;
  color: $card-back-color;
  height: 100%;

  &.card-reverse {
    background-color: $card-back-reverse-background-color;

    > .reading-english {
      background-color: $card-front-reverse-background-color;
    }

    > .reading-hiragana {
      color: $reading-kanji-color;
    }
  }

  > .reading-kanji {
    background-color: $card-front-background-color;
  }
}
