<!DOCTYPE html>
<html>
<head>
  <title>Anki Styles</title>
  <link rel="stylesheet" type="text/css" href="css/app.css" />
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
  <div class="card card-container">
    <div class="card-front">
      <div class="reading reading-kanji">言う</div>
    </div>
  </div>
  <div class="card card-container">
    <div class="card-back">
      <div class="reading reading-kanji">言う</div>
      <hr id="answer">
      <div class="reading reading-hiragana">いう</div>
      <div class="reading reading-english">1. to say; to utter; to declare<br />
        2. to name; to call<br />
        3. to go (e.g. "the alarm went ping"); to make a noise
      </div>
    </div>
  </div>
  <div class="card card-container">
    <div class="card-front card-reverse">
      <div class="reading reading-english">1. to say; to utter; to declare<br />
        2. to name; to call<br />
        3. to go (e.g. "the alarm went ping"); to make a noise
      </div>
    </div>
  </div>
  <div class="card card-container">
    <div class="card-back card-reverse">
      <div class="reading reading-english">1. to say; to utter; to declare<br />
        2. to name; to call<br />
        3. to go (e.g. "the alarm went ping"); to make a noise
      </div>
      <hr id="answer2">
      <div class="reading reading-kanji">言う</div>
      <div class="reading reading-hiragana">いう</div>
    </div>
  </div>
</body>
</html>
