@font-face {
  font-family: "Noto Sans CJK";
  src: url("/fonts/NotoSansCJK-JP/_NotoSansCJKjp-Regular.otf") format("otf");
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans CJK", "Arial";
  margin: 0;
}

hr {
  margin: 0;
  border: $horizontal-rule-border;
}
