@font-face {
  font-family: "Noto Sans CJK";
  src: url("/fonts/NotoSansCJK-JP/_NotoSansCJKjp-Regular.otf") format("otf"); }

html {
  box-sizing: border-box;
  font-size: 15px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Noto Sans CJK", "Arial";
  margin: 0 auto; }

hr {
  margin: 0;
  border: solid 1px #9e9e9e; }

.card-container {
  width: 360px;
  margin: 0 auto;
  border: 1px solid #9e9e9e;
  height: 640px; }

.card {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  word-wrap: break-word; }

.card-front {
  height: 100%;
  background-color: #2196f3;
  position: relative; }
  .card-front.card-reverse {
    background-color: #fafafa; }

.card-back {
  background-color: #fafafa;
  color: #212121;
  height: 100%;
  position: relative; }
  .card-back.card-reverse {
    background-color: #2196f3; }
    .card-back.card-reverse > .reading-english {
      background-color: #fafafa; }
    .card-back.card-reverse > .reading-hiragana {
      color: #fafafa; }
  .card-back > .reading-kanji {
    background-color: #2196f3; }

.reading {
  padding: 1.6rem 0; }

.reading-kanji {
  font-size: 3.733rem;
  color: #fafafa; }

.reading-hiragana {
  font-size: 2.266rem;
  color: #1976d2;
  padding-bottom: 0.8666rem; }

.reading-english {
  font-size: 1.6rem; }
